// Add your custom CSS here.
.shipping-line[data-service-code="01"] span {
  font-size: 0
}
.shipping-line[data-service-code="01"] span:after {
  font-size: 1rem !important;
  content: 'Taxa a consultar'
}
